@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}

body{
    background-color: hsl(0, 0%, 8%);

}

main{
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    width: 300px;
    margin: 10rem auto;
}

img {
    border-radius: 50%;  
    transform: scale(0.5);
    margin: -2rem;
}


h1{
    font-weight: 400;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}


.location{
    color: hsl(75, 94%, 57%);
    margin-bottom: 2rem;
}

p{
    margin: 1rem;
}

.btn{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

button{
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    width: 270px;
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}
